{{ define "main" }}
  <div class="post">
    <h1 class="post-title">404 — {{ $.Site.Params.missingContentMessage | default "Page not found..." }}</h1>

    <div class="post-content">
      <p>
        The truth is out there, and so is our missing page. It seems aliens wanted to learn about our internet. Mulder and Scully are on the case.
      </p>
      <a href="{{ "/" | absURL }}">{{ $.Site.Params.missingBackButtonLabel | default "Back to home page" }}&nbsp;→</a>
    </div>

  </div>
{{ end }}
